.main{
    min-height:100vh ;
    
}

.main_container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.avatar{
    cursor: pointer;
}


.main__title{
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 50px;
}

.main__main{
    flex: 1 1 auto;
}

.main__row{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__col{
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 10px;
    width: 70%;
    background-color: #c9cfce;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--tg-theme-text-color);
}
.main__col:visited{
    color: inherit;
}



.main__link-text{
    font-size: 22px;
    text-transform: capitalize;
    line-height: normal;
}


.main__intro{
    margin: 25px 0;
}

.main__intro-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: #010E38; */
}

.main__intro-right{
    max-width: 60px;
}
.main__intro-right img{
    width: 100%;
    height: 100%;
}
.main__intro-suptitle{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    
    
}
.main__intro-title{
font-size: 22px;
font-weight: 700;
line-height: 33px;
}

/* Main model */

.main__modal-container{
    /* padding: 0 1rem; */
    min-width: 100%;
}

.main__modal-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

}

.main__modal-subtitle{
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;

}

.main__modal-img{
    max-width: 100%;
    height: 90px;
    text-align: center;
    margin: 1rem 0;
}

.main__modal-img img{
    max-width: 100%;
    max-height: 100%;
    
}

.main__modal-footer__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.main__modal-footer__price{
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;

}

.main__modal-footer__buttons{
    display: flex;
    align-items: center;
}

.main__modal-footer__buttons button{
    background-color: #E9E9EA;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition: .3s ease-in;
    
}


.main__modal-count{
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    /* padding: 0 5px; */
    width: 2rem;
    text-align: center;
    
}
.disabled{
    background-color: rgba(241, 241, 241, 0.568) !important;
}