.Cart{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.Cart__main{
    flex: 1 1 auto;
    margin-top: 25px;
    margin-bottom: 130px;
}

.Cart__item{
    height: 150px;
    max-width: 90%;
    margin: 20px auto 0px auto;
    background-color: #E9E9EA;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Cart__remove{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
}

.Cart__item-row{
    display: flex;
    height: 80%;
    /* margin: 0 -15px; */
    width: 90%;
}

.Cart__item-left{
    flex: 0 1 35%;
    height: 100%;
    max-width: 100%;
}
.Cart__item-img{
    width: 100%;
    height: 90px;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}
.Cart__item-left img {
    width: 100%;
    height: 100%;
    
}
.Cart__item-right{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Cart__item-title{
font-size: 17px;
font-weight: 700;
line-height: 25px;
color: #010E38;
}

.Cart__item-subtitle, .Cart__item-count{
font-size: 17px;
font-weight: 500;
line-height: 27px;
color:  #010E3880;
;
}
.Cart__item-count{
    width: 1rem;
    text-align: center;
}

.Cart__item-bottom{
    display: flex;
    align-items: center;
}

.Cart__item-button{
    background-color: #ffff;
    margin: 0 10px;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition: .3s ease-in;
}

/* .Cart__item-button::{
    background-color: #ffffff77;
    transition: all .8s;

} */

.Cart__check{
    position: fixed;
    bottom: 66px;
    z-index: 9999999;
    background-color: #ffff;
    width: 100%;
}

.Cart__check-row{
    display: flex;
    justify-content: space-between;
    padding:10px 15px;
    align-items: center;
}

.Cart__check-count{
    font-size: 10px;
    color:  #010E3880;
}
.Cart__check-price{
    font-size: 17px;
    margin-top: 3px;
}

.Cart__check-button{
    box-shadow: 0px 10px 25px 0px #FFCA0726;
    border-radius: 16px;
    background-color: #17975C;
    border: none;
    height: 32px;
    min-width: 120px;
    font-weight: 500;
    color: #ffff;
    cursor: pointer;

}
.Cart__noOrder{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.noOrder__container{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.noOrder__img{
    width: 113px;
    height: 100px;
}

.noOrder__img svg{
min-width: 100%;
min-height: 100%;
opacity: 50%;
}

.noOrder__title{
font-size: 28px;
text-align: center;
line-height: 35px;
}

.noOrder__text{
    font-size: 17px;
    opacity: 50%;
    text-align: center;
    line-height: 25px;
}

.Cart__footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

