

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px auto; */
}

.logo__img{
    height: 50px;
    width: 50px;
    
}

.logo__img img {
    width: 100%;
    height: 100%;
}

.logo__title{
    font-size: 20px;
    text-transform: lowercase;
    font-weight: 700;
    margin-top: -5px;
}
.logo__subtitle{
    font-size: 10px;
    text-transform: lowercase;
    margin-top: -2px;
}