@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&family=Ubuntu&display=swap');
.productItem{
    border-radius: 16px 16px 32px 32px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.productItem-img{
    height: 130px;
    width: 100%;
    border-radius: 16px 16px 10px 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(249,251,251); */
    /* background: linear-gradient(180deg, rgba(249,251,251,0.4290091036414566) 0%, rgba(0,0,0,0.5298494397759104) 100%); */
}
.productItem-img img {
    width: 65%;
    height: 65%;
    overflow: hidden;
}
.productItem-price{
    position: absolute;
    bottom: 5px;
    right:  15px;
    /* background-color: #fff; */
    padding: 5px;
    /* border-radius: 10px; */
    font-size: 12px;
    font-weight: 700;
}
.productItem-price span{
    font-weight: 500 !important;
}
.productitem-body{
    padding: 10px;
    flex: 1 1 auto;
}
.productItem-footer{
 /* padding: 10px; */
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
 margin-bottom: 10px;
 width: 80%;
 align-self: center;
}

.btn-increase{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5px;
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px !important;
    transition: .6s linear;
}

.productItem-title{
    font-weight: 700;
    font-size: 17px;
}
.productItem-subtitle{
    font-size: 13px;
}
.productItem__footer-button{
    background-color: #E9E9EA;
    display: inline-block;
    padding: 9px 18px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    height: 100%;
    transition: .3s ease-in;
    width: 100%;
}